/* Widget Container
----------------------------------------------------------------------------------------------------*/
.widget_container{
    height: auto;
    margin-bottom: 40px!important;
    overflow: hidden;
    text-align: left;	
}

#sidebar  .widget_container{
	width:100%;
 }
.right_sidebar .page_sidebar {
    border-left: 1px solid rgba(204, 204, 204, 0.2);
    padding-left: 30px;
    position: relative;
}
.left_sidebar .page_sidebar {
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    padding-right: 30px;
    position: relative;
}
.page_sidebar:before {
    color: #FF0000;
    content: "ï§";
    display: inline-block;
    font-family: fontawesome;
    font-size: 8px;
    
    position: absolute;
    top: -12px;
}
.right_sidebar .page_sidebar:before {
    left: -4px;
}
.left_sidebar .page_sidebar:before {
  right: -4px;
}
.textwidget p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
#sidebar .widget_title h3:after {
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    content: "";
    display: block;
    margin-top: 13px;
    position: relative;
    margin-bottom: 15px;
}
#sidebar li h3:after{
    border-bottom: none!important;
 
}
.widget_title {
    display: table;
    margin-bottom: 20px;
}
#sidebar .widget_title{
    margin-bottom: 10px;
}
#sidebar h3{
  margin-bottom: 0px;
  color: #fff;
}
.widget_container ul li a{
  color: #8f8f8f;
}
/* sidebar calander widget styles
----------------------------------------------------------------------------------------------------*/
#sidebar .widget_calendar table{
  width: 100%;
}
#calendar_wrap{

}
#sidebar .widget_calendar table caption{
    background-color: #F54325;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 0;
    text-align: center;
}
.cal-blog{
  background-color: #F54325;
}

#sidebar .widget_calendar table td{
  padding: 8px 0;
}
#sidebar .widget_calendar table td a, #sidebar .widget_calendar table td a:visited{

}
#sidebar .widget_calendar table td a:hover{
	color:#000;
	text-decoration:none;
}

.widget_container em{
   display: block;
    padding-bottom: 5px;
}
/* sidebar menu pages
----------------------------------------------------------------------------------------------------*/
.widget_pages ul.children{
margin-left:20px;
}
.widget_pages ul.children li:first-child {
	border-top: 1px solid #E4DFD6;
    margin-top: 10px;
    padding-top: 10px;
}
                 
/*  Globle #sidebar widget style
---------------------------------------------------------------------------------------------------*/
.widget_categoryposts ul li a, .widget_recent_comments ul li a,
.widget_taxpost ul li a, .widget_cat_post_testimonial ul li a,
.widget_popularposts ul li a, .widget_cat_post_news ul li a, .widget_portfolio_gallery ul li a, ul.portfolio_items li, ul.porfolio_items li, ul#widget_sudo_slider li, .widget_container #sudo_slider_wrapper ul li{
  background: none!important;
  padding-left: 0!important;

}
.page_sidebar .widget_popularposts ul li, .widget_recentposts ul li{
	margin-bottom:20px!important;
}

.widget_container ul li{
     background-image: url("../images/list_arrow.png");
    background-position: 0 7px;
    background-repeat: no-repeat; 
    border-bottom: 1px solid rgba(204, 204, 204, 0.15);
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 93%;
}

footer .widget_container ul li{
    list-style-image: none;
    list-style-type: circle;
    background-image: none;
    padding-left: 0px; 
}

.widget_container:last-child,
.widget_container ul, .widget_container ul li:last-child, .widget_categoryposts li:last-child
{
	margin-bottom:0px!important;
	border-bottom: 0 none;
	padding-bottom:0;
}
.widget_container ul{
	margin-left:0px;
}
.widget_taxpost li a img{
	float:left;
	display:block;
	margin-right:20px;
	margin-bottom:4px;
}

.taxpost_content{
	display:block;
	overflow:hidden;
}
.textwidget p{
  margin-bottom:0px;
}
.footer_widgets_column  .textwidget{
  margin-bottom:30px;
}

/* Tag Cloud 
------------------------------------------------------*/
.tagcloud a {
	  background-color: rgba(204, 204, 204, 0.2);
    display: block;
    float: left;
    font-size: 14px !important;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding:4px 12px;
}
.tagcloud a{
	border: 1px solid rgba(204,204,204,.3);
}
.widget_tag_cloud .tagcloud a:hover{
	color:#fff;
  background-color: #ff0000;
}
.tagcloud{
	float: left;
   }
.widget_portfolio_gallery ul li{
	width:70px;
	height:70px;
	display:inline;
	border:none!important;
	margin:0px!important;
	padding:0px!important;
}
.widget_portfolio_gallery ul li a{
	display: inline-block;
	float:left;
	width:70px;
	height:70px;
	margin-bottom:10px;
	margin-right:10px;
	
}
.widget_container ul li  span{
	font-size:13px;
}
/* Sidebar Custom Menu */
#sidebar .sub-menu{
	border-top: 1px solid rgba(204, 204, 204, 0.1) !important;
    margin-left: 14px;
    margin-top: 10px;
    padding-top: 10px;
}
#sidebar > ul.menu > li:last-child {
border-bottom:0px solid rgba(204, 204, 204, 0.1) !important;
}
#sidebar ul.menu {
	width:100%;
}
#sidebar .dropcap_bg{
   
    margin-bottom: 15px;
    margin-right: 15px;
}
#sidebar .description{
  text-align: left;
}
footer .widget_dropcap-widget .description h3 {
    margin-bottom: 20px;
}
/* THIRD PARTY CONTACT FORM7 PLUGIN */
.wpcf7-submit {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}